.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actions {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions_buttons {
    display: flex;
    gap: 10px;
}

.actions_variations {
    display: flex;
    gap: 5px;
}

.chart_container {
    flex: 1;
}