.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actions {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions_buttons,
.actions_variations,
.actions_lineStyileOptions {
    display: flex;
    gap: 5px;
}

.actions_variations>span {
    font-weight: 500;
}

.chart_container {
    flex: 1;
}

.bottom_actions {
    width: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;
}